[Unit]
Description=agent-operation
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=admin
WorkingDirectory=/home/admin/agent-operation/current
Environment=AGENT_OPERATION_DB=/home/admin/agent-operation/data/deployments.db
Environment=AGENT_OPERATION_QUEUE_URL=https://sqs.us-west-2.amazonaws.com/204772699175/agent-operation-events
Environment=AGENT_OPERATION_SEEN_MESSAGES=/home/admin/seen-messages.txt
Environment=DEBUG_SSH_ENABLED=1
Environment=DEBUG_SSH_PUBLIC_KEY_SECRET_NAME=debug_public_ssh_key
ExecStartPre=-/usr/bin/tmux kill-session -t agent-operation
ExecStart=/usr/bin/tmux new-session -d -s agent-operation '/home/admin/agent-operation/current/agent-conductor'
ExecStop=-/usr/bin/tmux kill-session -t agent-operation

[Install]
WantedBy=multi-user.target
