# ai
.mds
.codex

# python
**/.venv/
__pycache__

# terraform
terraform.tfvars
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log

# wildcard
ignore.*
\#ignore.*
.\#ignore.*

# database
database-*.sqlite
**/DB_TESTDATA/data/*

# local env files
.envrc
.local

# binaries
conductor-and-worker/worker/go-worker/go-worker

# rust examples
**/target/
