# ai
.mds
.codex

# python
**/.venv/
__pycache__

# terraform
terraform.tfvars
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log

# wildcard
ignore.*

# keep documentation files, (p) real md files
!*.docs.md

# ignore db if we test locally
database-*.sqlite

# ignore local files
.envrc
.local
