# ai
.mds
.codex

# python
**/.venv/
__pycache__

# terraform
terraform.tfvars
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log

# wildcard
ignore.*

# keep documentation files, (p) real md files
!*.docs.md

# ignore db if we test locally
database-*.sqlite

# ignore database test files
**/DB_TESTDATA/data/*

# ignore local env files
.envrc
.local

# ignore binaries
conductor-and-worker/worker/go-worker/go-worker
